.logo svg {
  display: block;
}

.logo__wrapper--all {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.logo__wrapper--picture {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}
