.social__list {
  max-width: 160px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;

  @media (max-width: $mobile-width) {
    justify-content: center;
  }
}

.social__link img {
  display: block;

  &:hover {
    filter: brightness(50%);
  }
}
