$basic-white: #ffffff;
$basic-light: #f2f5f7;
$basic-dark: #041827;
$basic-blue: #00b2ff;
$basic-border: #ebebeb;
$gradient: rgba(4, 24, 39, 0);
$background-card: #002137;
$background-input: rgba(4, 20, 39, 0.15);
$background-input-hover: rgba(4, 20, 39, 0.25);
$background-input-focus: rgba(4, 20, 39, 0.4);
$background-overlay: rgba(3, 16, 27, 0.7);
$border-accordion: rgba(248, 253, 255, 0.7);
$button-white: #f8fdff;

$desktop-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
